<div plugin-option></div>
<section class="card" id="export_data">
    <h3>选择数据来源</h3>
    <ul>
        <li ng-repeat="data in dataQuery.exportFrom" class="card_unit">
            <div class="s_select lsc_sheet_list" id="{{data.identify}}">
                <input class="select_rebuild" readonly
                       ng-model="dataQuery.exportFrom[data.id].sheet"
                       ng-model-options="{ getterSetter: true }"/>
                <button class="s_choosen"
                        ng-click="ASSelect.extendSelectBody(data.identify)"
                        >
                    {{surveyList[ASSelect.elementInfo[data.identify].value].name || '选择一张问卷'}}
                </button>
                <ul class="s_select_body"
                    ng-class="ASSelect.elementInfo[data.identify].selectStatus">
                    <li ng-repeat="sheet in surveyList"
                        ng-click="ASSelect.chooseSelection(data.identify,sheet.location)">
                        {{sheet.name}}
                    </li>
                </ul>
            </div>

            当中的

            <div class="s_select lsc_sheet_list" id="s_{{data.identify}}">
                <input class="select_rebuild" readonly
                       ng-model="dataQuery.exportFrom[data.id].range"
                       ng-model-options="{ getterSetter: true }"/>
                <button class="s_choosen">{{surveyList[dataQuery.exportFrom[data.id].sheet].name || '选择一个范围'}}</button>
                <ul class="s_select_body">
                    <li ng-repeat="(key, range) in ranges"
                        val="{{key}}">
                        {{range}}
                    </li>
                </ul>
            </div>
        </li>
    </ul>
    <button ng-click="addSource();">
        +
    </button>
</section>

<section class="card" id="calculate_option">
    <h3>选择运算方式</h3>
    <ul>
        <li ng-repeat="data in dataQuery.rFile" class="card_unit">
            <div class="s_select lsc_sheet_list" id="{{data.identify}}">
                <input class="select_rebuild" readonly value="{{dataQuery.RFile[data.id].file}}"/>
                <button class="s_choosen">{{RFile[dataQuery.rFile[data.id].file].name || '选择一个运算模型'}}</button>
                <ul class="s_select_body">
                    <li ng-repeat="(key, file) in RFile"
                        val="{{key}}">
                        {{file.name}}
                    </li>
                </ul>
            </div>


        </li>
    </ul>
    <button ng-click="addRFile();">
        +
    </button>
</section>

<section class="card button_list">
    <button ng-click="debugInfo();">debug</button>
    <button>保存配置</button>
    <button>读取配置</button>
    <button>执行运算</button>
</section>

<style>
    .card {
        margin: 10px 0;
    }

    .card_unit {
        margin: 8px;
        padding: 8px;
        border-bottom: 1px solid #ddd;
    }
</style>